<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a><br>
    <h2>Please login to use the shrink ray.</h2>
    <h4><a class="links-nodec" href="/login" style="font-size: 1.5em">LOGIN</a> or <a class="links-nodec" href="/register" style="font-size: 1.5em">REGISTER</a></h4>
  </body>
</html>