<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a>
    <div class="formtemplate">
      <form action="/login" method="POST">
          <h2>... login and get shrinking!</h2>
          <input class="text-field" type="text" name="username" autofocus="autofocus" placeholder="email"><br>
          <input class="text-field" type="password" name="password" placeholder="password"><br>
        <button class="btnbig btnauth" type="submit">Login</button>
      </form>
      <form action="/register" method="GET">
        <button class="btnbig btnauth" type="submit">Register</button>
      </form>
    </div>
  </body>
</html>