<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_h1 %></a>
    <div class = "formtemplate">
      <form action="/register" method="POST">
          <h4>Sign up and start shrinking!</h4>
          <input class="text-field" autofocus="autofocus" autocomplete="off" type="email" name="email" placeholder="giantants@eat-oreos.com">
          <input class="text-field" autocomplete="off" type="password" name="password" placeholder="password"><br>
          <button class="btnsafe btnbig" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>