<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a><br>
    <h2> ... email already exists!</h2>
    <h4>Please click <a href="/login" style="font-size: 1.5em">HERE</a> to login</h4>
  </body>
</html>