<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a><br>
    <h2>Don't shrink your login so much!</h2>
    <h3>Please use a <u>valid email</u> address</h3>
    <h3>& password with <u>8 or more</u> characters</h3>
    <h4>Click <a class="links-nodec" href="/register" style="font-size: 1.5em">HERE</a> to try again</h4>
  </body>
</html>