<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_h1 %></a><br>
    <h2> ... user does not exist!</h2>
    <h4>Please click <a href="/register" style="font-size: 1.5em">HERE</a> to register</h4>
  </body>
</html>