<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a><br>
    <h2>Sorry, that URL is invalid</h2>
    <h4>Please click <a class="links-nodec" href="/" style="font-size: 1.5em">HERE</a> to login or register, and get shrinking!</h4>
  </body>
</html>