<!DOCTYPE html>
<html>
  <head>
    <% include partials/_header %>
  </head>
  <body>
    <% include partials/_h1 %>
    <div>
      <h2>Short URL:
        <a href="http://localhost:8080/u/<%= shortURL %>"> http://localhost:8080/u/<%= shortURL %></a>
      </h2>
      <div>
        <form method="POST" action="/urls/<%= `${shortURL}` %>">
        <input autocomplete="off" id="longURL" type="text" name="longURL" style="width: 300px" value="<%= `${longURL}` %>"><button type="submit">🔗 Update Link</button></form>
      </div>
    </div>
  </body>
</html>
