<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_h1 %></a>
    <div class = "formtemplate">
      <form action="/urls" method="POST" style="margin:auto;">
        <label for="longURL">
          <h4>Enter a URL:</h4>
          <input class="text-field" autofocus="autofocus" autocomplete="off" id="longURL" type="text" name="longURL" placeholder="http://">
          <button class="btnsafe btnbig" type="submit">Submit</button>
        </label>
      </form>
    </div>
  </body>
</html>