<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>

    <h1>Honey, I shrunk the URL</h1>

    <div>
      <a style="font-size: 1.3em" href="/urls/new">Click here to make a short URL</a>
    </div>
    <div>
      <h4>Have a look at some URLs we already shortened:</h4>
      <table>
        <% for (key in urls) { %>
          <tr>
            <td><a href="<%= `/u/${key}` %>"><%= `localhost:8080/u/${key}` %></a></td>
            <td> ➛ </td>
            <td><a href="<%= `${urls[key]}` %>"><%= `${urls[key]}` %></a></td>
          </tr>
        <% }; %>
      </table>
    </div>

  </body>
</html>