<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <a href="/"><% include partials/_logo %></a><br>
    <h2>Oops! That doesn't look like one of your saved URLs... 🙃</h2>
    <h4>Shrink a new URL <a class="links-nodec" href="/urls/new" style="font-size: 1.5em">HERE</a></h4>
    <h4>Or go <a class="links-nodec" href="/urls" style="font-size: 1.5em">BACK</a> to your list</h4>
  </body>
</html>