<!DOCTYPE html>
<html>
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div>
          <tr>
            <td><a href="<%= `/u/${shortURL}` %>"><%= `localhost:8080/u/${shortURL}` %></a></td>
            <td> ➛ </td>
            <td><a href="<%= `${longURL}` %>"><%= `${longURL}` %></a></td>
          </tr>
    </div>
  </body>
</html>
