body {
  margin: auto;
  font-size:20px;
  background: no-repeat center/100% url("../shrunk.jpg");
}

h1 {
  font-family: Arial;
  color: white;
  text-shadow: 3px 0px 2px black;
  line-height: .2em;
  color: crimson;
}
a:visited, a:link, a:active h1, h3, .internal-link
{
  text-decoration: none;
}
a:hover h1 {
  text-shadow: 4px 0px 2px black;
}
a:visited.links-nodec  {
  text-decoration: none;
  color: blue;
}

button {
  border: 1px solid gray;
  height: 30px;
  line-height: 30px;
  font-size: .9em;
  border-radius: 5px;
}
input {
  display:inline-block;
  height: 32px;
  font-size: 1.1em;
}
button, .shrinklink {
  border: 1px solid gray;
  background-color: white;
}

.internal-link {
  color: black;
}
.internal-link:hover {
  color: #404040;
}
.text-field {
  display: inline-block;
  width: 70%;
}
.masterlist, .shrinklink, .formtemplate {
  text-align: center;
}
.masterlist table {
  margin: auto;
  font-size: .9em;
}
.auth-main {
  margin: auto;
}
.shrinklink {
  margin: auto;
  width: 45%;
  border-radius: 20px;
  padding: 5px;
  color: black;
  font-size: 1.3em;
  background-color: white;
  border-radius: 5px;
}
.shrinklink:hover {
  background-color: #00BFFF;
  color: white;
}
.btnbig {
  height: 40px;
  line-height: 40px;
}
button:hover, .shrinklink:hover {
  border: 1px solid white;
  box-shadow: 1px 1px 1px gray;
  color: white;
  text-shadow: 1px 1px 1px gray;
}
.btncaution:hover, .btnsafe:hover {
    border: 1px solid white;
}
.btncaution:hover {
  background-color: orangered;
}
.btnsafe:hover {
  background-color: #7CCD7C;
}
.btnauth:hover {
  background-color: #8470FF;
}
.left-force {
  text-align: left;
}